.glav {
   min-height: 300px;
   &__wrapper {
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 620px 330px;
      height: 297px;
      justify-content: center;
   }
   &__mainImg {
      img {
         width: 100%;
         height: 297px;
         object-fit: cover;
      }
   }
   &__block {
      background-color: #000;
      height: 297px;
   }
   &__links {
      margin-left: 10px;
      margin-top: 5px;
   }
   &__link {
      margin-right: 10px;
   }
   &__text {
      display: flex;
      flex-direction: column;
      color: #fff;
      align-items: center;
      justify-content: center;
      height: 76%;
   }
   &__title {
      font-size: 30px;
      margin-left: 65px;
   }
   &__subtitle {
      font-size: 32px;
      margin-top: 20px;
      text-align: center;
   }
}