@media (max-width: 860px) {
   .glav {
      &__title {
         font-size: 25px;
      }
      &__subtitle {
         font-size: 30px;
      }
   }
}
@media (max-width: 771px) {
   .glav {
      &__subtitle {
         font-size: 22px;
         margin-top: 20px;
      }
   }
}
@media (max-width: 612px) {
   .glav {
      &__title {
         font-size: 22px;
      }
      &__subtitle {
         font-size: 22px;
         margin-top: 20px;
      }
   }
}
@media (max-width: 599px) {
   .glav {
      &__title {
         font-size: 22px;
      }
      &__subtitle {
         font-size: 22px;
         margin-top: 20px;
      }
   }
}